.material-dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: #FFFFFF;
    color: #000000;
    z-index: 1000;
    height: auto;
    max-height: 300px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-out height, step-start box-shadow 0.2s;
}

.material-dropdown.closed {
    height: 0;
    box-shadow: none;
    transition: 0.2s ease-in height, step-end box-shadow 0.2s;
}

.material-dropdown.material-dropdown-open {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.material-dropdown li {
    padding: 10px;
    cursor: default;
}

.material-dropdown li:hover {
    background-color: #e8eaf6;
    cursor: pointer;
}

.material-dropdown li.hovered {
    background-color: #e8eaf6;
    cursor: pointer;
}

.material-dropdown li.material-dropdown-selected {
    background-color: #9fa8da;
}

.material-form-field {
    font-family: "Roboto", sans-serif;
    max-width: 555px;
    font-size: 14px;
    position: relative;
    display: block;
    color: #000000;
    padding: 25px 0 10px 0;
    margin: 0 auto;
}

.material-form-field::after {
    content: " ";
    display: block;
    color: #d50000;
    font-size: 12px;
    padding-top: 5px;
}

.material-form-field .material-form-field-label {
    position: absolute;
    display: block;
    top: 10px;
    font-size: 12px;
    left: 0;
    transition: 0.2s ease all;
    pointer-events: none;
    cursor: text;
    width: 100%;
    background: #FFFFFF;
    text-align: left;
}

.material-form-field input {
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    border: none;
    font-size: 14px;
    color: #000000;
    border-bottom: 1px solid #000000;
    outline: none;
}

.material-form-field input:focus {
    outline: none;
    padding-bottom: 8px;
    border-bottom-width: 3px;
    border-bottom-color: #3f51b5;
}

.material-form-field input:focus ~ .material-form-field-label {
    color: #3f51b5;
}
